name: CI

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]
    workflow_dispatch:

jobs:
    lint:
        name: "Code style"
        runs-on: ubuntu-latest

        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v3

            - name: "Set up Python"
              uses: actions/setup-python@v4
              with:
                  python-version: "3.9"

            - name: "Install dependencies"
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install tox
                  # the following to be removed after
                  # https://github.com/qpsolvers/qpsolvers/pull/286
                  python -m pip install osqp  # temporary

            - name: "Check code format"
              run: |
                  tox -e lint

    test:
        name: "Test ${{ matrix.os }} with python-${{ matrix.python-version }}"
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                os: [ubuntu-latest, macos-latest, windows-latest]
                python-version: ["3.8", "3.9", "3.10", "3.11"]

        steps:
            - name: "Checkout sources"
              uses: actions/checkout@v3

            - name: "Set up Python ${{ matrix.python-version }}"
              uses: actions/setup-python@v4
              with:
                  python-version: "${{ matrix.python-version }}"

            - name: "Install dependencies"
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install tox tox-gh-actions
                  # the following to be removed after
                  # https://github.com/qpsolvers/qpsolvers/pull/286
                  python -m pip install osqp  # temporary

            - name: "Test with tox for ${{ matrix.os }}"
              env:
                  PLATFORM: ${{ matrix.os }}
              run: |
                  tox
